@import "vars.styl"

responsive(screenWidth)
  @media only screen and (max-width: screenWidth)
    {block}

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}