@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext')

baseFont = 'Lato', sans-serif
titleFont = 'Lato', sans-serif
fontSize = 14px
lineHeight = 1.4
siteMinWidth = 320px
siteMaxWidth = xl
headerHeightPadding = 1.5em

//color
baseColor = #222224
grayColor = #7a7a7a
botNavTextColor = #898989
lightGrayColor = #9f9f9f
inputPhColor = #a4a4a4
inputBgColor = #e1e1e1
lightColor = #e6e6e6
moreLightColor = #f9f9f9
whiteColor = #fff
accentColor = #ef5b70
changeColor = 20%

//cover
coverTextMarginBottom = 300px
coverTextBorderLeft = .8vw solid accentColor
coverTextTitle = 4.4vw
//categories

//footer
footerHeight = 79px
footerColor = grayColor
footerBGColor = lightColor
footerFontSize = 16px
footerFontWeight = 400

//Разрешения экрана
xss = 419px
xs = 580px
sm = 768px
md = 1024px
lg = 1133px
xl = 1280px










