@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext')

baseFont = 'Lato', sans-serif
titleFont = 'Lato', sans-serif
baseColor = #222222
fontSize = 14px
lineHeight = 1.4
lightColor = #FFFFFF
accentColor = #ef5b70
changeColor = 20%
siteMinWidth = 320px
siteMaxWidth = 1200px
headerHeightPadding = 1.5em

//cover
coverTextMarginLeft = 0 0 250px 0
coverTextBorderLeft = .8vw solid #ef5b70
coverTextTitle = 4.4vw
//categories

//footer
footerHeight = 79px
footerColor = #7a7a7a
footerBGColor = #e6e6e6
footerFontSize = 16px
footerFontWeight = 400

//Разрешения экрана, копирую с бутстрап
xs = 576px
sm = 768px
md = 992px
lg = 1200px
xl = 1680px










