.bot-nav
  height 246px
  background-color #fff
  &__logo
    margin-bottom 20px
  &__items
    height 100%
    flex-wrap wrap
    margin-bottom 89px
  &__text
    width 428px
  &-menu
    width 608px
    display flex
    justify-content space-between
    align-items center
    flex-wrap wrap
    &__item
      color #f16d7f
      font-size 18px
      font-weight 700
      line-height 26px
      text-align left
      text-transform uppercase
      margin-bottom 25px
    &__links
      font-size 16px
      font-weight 400
      line-height 24px
      margin-bottom 5px
      a
        color #898989
      a:hover
        text-decoration none
