// button
a
	color baseColor
	&:hover
		text-decoration none
.button
	display block
	transition transform .2s ease-in, color .2s ease-in-out, background-color .2s ease-in-out
	&:hover
		transform scale(1.04)
	&:active
		transform scale(.99)
	&__link
		display block
		position relative
		font-size 14px
		font-weight 300
		letter-spacing 0.35px
		transition transform .2s ease-in
		&:hover
			transform scale(1.04)
		&:active
			opacity .8
			transform scale(.99)
		&::after
			margin-right: -8px
			margin-top 8px