doctype html
html
  include ../includes/head
  body.body
    .site
      include ../includes/header
      include ../includes/topNav
      .site__content.content
        block site__content
      include ../includes/comments
      include ../includes/botNav
      include ../includes/footer
    <!-- /.site -->
    script(src='assets/js/vendor.min.js')
    script(src='assets/js/scripts.min.js')