*node_modules/*
*app/vendor/*














Глобально

curl -sL https://deb.nodesource.com/setup_9.x | sudo -E bash -

sudo apt-get install -y nodejs

sudo npm install gulp-cli -g

sudo apt-get install git

sudo git config --global user.name "donlohov"

sudo git config --global user.email "donlohov@gmail.com"

sudo npm install -g bower

sudo npm install pug

В папке проекта

npm init

npm install -D gulpjs/gulp#4.0

gulp-pug

npm install -D browser-sync del gulp-autoprefixer gulp-concat gulp-csso gulp-imagemin gulp-plumber gulp-pug gulp-rename gulp-sourcemaps gulp-uglify gulp-stylus gulp-uglify imagemin-pngquant
