extends ../layouts/layout.pug

block site__content
	section.site__cover
		.container
			.cover
				#carouselExampleSlidesOnly.carousel.slide(data-ride='carousel')
					.carousel-inner
						.carousel-item.active
							img.d-block.cover__img(src='assets/img/bg/baner.png', alt='Первый слайд')
							.carousel-caption.cover-text
								h1.cover-text__title The Brand
								p.cover-text__description of luxurious
									span.cover-text__span fashion
						//.carousel-item
						//	img.d-block.cover__img(src='assets/img/bg/baner.png', alt='Второй слайд')
						//	.carousel-caption.cover-text
						//		h1.cover-text__title The Best
						//		p.cover-text__description or nothing
						//			span.cover-text__span clothes
	section.site__categories.container
		.categories
			.categories-item
				a.categories-item__link(href='product.html')
					.categories-item-text
						.categories-item-text__description hot deal
						.categories-item-text__title for men
					img.categories-item__img(src='assets/img/categories/categories-item-img_man.png', alt='man')
			.categories-item
				a.categories-item__link(href='#')
					.categories-item-text
						.categories-item-text__description 30% offer
						.categories-item-text__title women
					img.categories-item__img(src='assets/img/categories/categories-item-img_women.png', alt='women')
			.categories-item
				a.categories-item__link(href='#')
					.categories-item-text
						.categories-item-text__description luxurious & trendy
						.categories-item-text__title accessories
					img.categories-item__img(src='assets/img/categories/categories-item-img_accessories.png', alt='accessories')
			.categories-item
				a.categories-item__link(href='#')
					.categories-item-text
						.categories-item-text__description new arrivals
						.categories-item-text__title for kids
					img.categories-item__img(src='assets/img/categories/categories-item-img_kids.png', alt='kids')
	//categories
	section.site__catalog
		.container.catalog
			.catalog-text
				h2.catalog-text__title Fetured Items
				.catalog-text__description Shop for items based on what we featured in this week
			.catalog__items
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-2.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='single_page.html')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-3.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='#')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-4.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='#')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-5.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='#')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-6.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='#')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-7.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='#')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-8.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='#')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
				.button.catalog-item
					img.catalog-item__img(src='assets/img/index/catalog/layer-9.png', alt='Mango People T-shirt')
					.catalog-item__name Mango People T-shirt
					.catalog-item__price $52.00
					a.catalog-item-hover(href='#')
						span.catalog-item-hover__card
							img.catalog-item-hover__img(src='assets/img/icons/button/card_img.png', alt='')
							| Add to Cart
			button.button.catalog-button Browse All Product
				img.catalog-button__img(src='assets/img/icons/button/--.png', alt='')
	//catalog-bestItems
	section.site__offer.container
		.offer.offer-cover.offer-coverItems
			.offer-cover__img
				.offer-cover__title 30%
					span.offer-cover__span offer
					.offer-cover__description for women
				img(src='assets/img/bg/bg-offer-cover.png')
			.offer-items
				.offer-coverItems__item
					.offer-coverItems__img
						img(src='assets/img/icons/offer/icon-offer-item-car.png')
					.offer-coverItems__title Free Delivery
						.offer-items__description Worldwide delivery on all. Authority timely morph next-generation innovation with extensive models.
				.offer-coverItems__item
					.offer-coverItems__img
						img(src='assets/img/icons/offer/icon-offer-item-sale.png')
					.offer-coverItems__title Free Delivery
						.offer-items__description Worldwide delivery on all. Authority timely morph next-generation innovation with extensive models.
				.offer-coverItems__item
					.offer-coverItems__img
						img(src='assets/img/icons/offer/icon-offer-item-crown.png')
					.offer-coverItems__title Free Delivery
						.offer-items__description Worldwide delivery on all. Authority timely morph next-generation innovation with extensive models.
	//offer
