extends ../layouts/layout-test

block site__content
	.test-btnBlock
		.myHeader
			.myHeader__item
				.myHeader__btn
					.myBtn.myBtn--baseColor
						.myBtn__item
							a.myBtn__link(href='#') Link Base
			.myHeader__item
				.myHeader__btn
					.myBtn.myBtn--assentColor
						.myBtn__item
							a.myBtn__link(href='#') Link Asset
			.myHeader__item
				.myHeader__btn
					.myBtn.myBtn--baseColor
						details.myBtn-details
							summary.myBtn-details__link My Account
							.myBtn-details__list
								.myBtn-details__item
									a(href="#") один
								.myBtn-details__item
									a(href="#") два
								.myBtn-details__item
									a(href="#") три
			.myHeader__item
				.myHeader__btn
					.myBtn.myBtn--assentColor
						details.myBtn-details
							summary.myBtn-details__link My Account
							.myBtn-details__list
								.myBtn-details__item
									a(href="#") один
								.myBtn-details__item
									a(href="#") два
								.myBtn-details__item
									a(href="#") три
								.myBtn-details__item
									a(href="#") четыре
								.myBtn-details__item
									a(href="#") пять