*
	box-sizing border-box

a
	text-decoration none
	&:hover
		color inherit
		text-decoration inherit

.body
	background-color whiteColor
	font-family baseFont
	color baseColor
	font-size fontSize
	line-height lineHeight
	height 100%
	margin 0 auto
	padding 0

.container
	width 100%
	max-width siteMaxWidth
	margin 0 auto

