.catalog
  display flex
  flex-wrap wrap
  justify-content center
  &-text
    text-align center
    letter-spacing 0.75px
    &__title
      color baseColor
      font-size 30px
      font-weight 600
    &__description
      line-height 30px
      color lightGrayColor
      font-size 14px
      font-weight 400
      letter-spacing 0.35px
  &__items
    margin-top 56px
    display flex
    flex-wrap wrap
    padding-left 0
    padding-right 0
    margin-bottom 12px
    justify-content space-around
  &-item
    width 260px
    height 363px
    position relative
    margin-bottom 39px
    &__name
      margin-left 15px
      margin-top 12px
      color baseColor
      font-size 13px
      font-weight 400
      letter-spacing 0.3px
      text-transform uppercase
    &__price
      margin-left 14px
      margin-top 13px
      color accentColor
      font-size 16px
      font-weight 700
      text-transform uppercase
    &__img
      width 262px
      height 280px
    &:hover
      width 260px
      height 363px
      box-shadow 0 5px 8px rgba(0, 0, 0, 0.16)
    &:hover &__img
      -webkit-filter brightness(50%)
    &-hover
      display none
      width 260px
      height 363px
      position absolute
      top 0
      left 0
      &__card
        display flex
        width 130px
        height 50px
        border 1px solid whiteColor
        margin 100px auto
        justify-content center
        align-items center
        color whiteColor
        font-size 13px
        font-weight 300
      &__img
        width 27px
        height 25px
        margin-right 10px
    &:hover &-hover
      text-decoration none
      display block

  &-button
    width 215px
    height 51px
    background-color accentColor
    border-width 0
    color whiteColor
    font-size 16px
    font-weight 400
    line-height 54px
    letter-spacing 0.4px
    display block
    text-align center
    margin 0 auto
    &:hover
      cursor pointer
    &:active
      opacity 0.5
    &__img
      margin-bottom 2px
      margin-left 5px