sectiom.bot-nav
  .container.flexCenterSpaceBetween.bot-nav__items
    .bot-nav__item
      .bot-nav__logo
        img.logo(src='assets/img/logo.png', alt='Logo')
      .bot-nav__text
        p
          | Objectively transition extensive data rather than cross functional solutions. Monotonically syndicate multidisciplinary materials before go forward benefits. Intrinsically syndicate an expanded array of processes and cross-unit partnerships.
        p
          | Efficiently plagiarize 24/365 action items and focused intermediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
    .bot-nav-menu
      nav.bot-nav-menu__items
        .bot-nav-menu__item company
        .bot-nav-menu__links
          a(href='#') Home
        .bot-nav-menu__links
          a(href='#') Shop
        .bot-nav-menu__links
          a(href='#') About
        .bot-nav-menu__links
          a(href='#') How It Works
        .bot-nav-menu__links
          a(href='#') Contact
      .bot-nav-menu__items
        .bot-nav-menu__item information
        .bot-nav-menu__links
          a(href='#') Terms & Condition
        .bot-nav-menu__links
          a(href='#') Privacy Policy
        .bot-nav-menu__links
          a(href='#') How to Buy
        .bot-nav-menu__links
          a(href='#') How to Sell
        .bot-nav-menu__links
          a(href='#') Promotion
      .bot-nav-menu__items
        .bot-nav-menu__item shop category
        .bot-nav-menu__links
          a(href='#') Men
        .bot-nav-menu__links
          a(href='#') Women
        .bot-nav-menu__links
          a(href='#') Child
        .bot-nav-menu__links
          a(href='#') Apparel
        .bot-nav-menu__links
          a(href='#') Brows All
//bot-nav