section.site__botNav
	.container.botNav
		.botNav__item
			.botNav__logo
				img.logo(src='assets/img/icons/logo/logo.png', alt='Logo')
			.botNav__text
				p.botNav__description
					| Objectively transition extensive data rather than cross functional solutions. Monotonically syndicate multidisciplinary materials before go forward benefits. Intrinsically syndicate an expanded array of processes and cross-unit partnerships.
				p.botNav__description
					| Efficiently plagiarize 24/365 action items and focused intermediaries. Distinctively seize superior initiatives for wireless technologies. Dynamically optimize.
		.botNav__item.botNav-menu
			nav.botNav-menu__items
				.botNav-menu__title company
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Home
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Shop
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') About
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') How It Works
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Contact
			.botNav-menu__items
				.botNav-menu__title information
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Terms & Condition
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Privacy Policy
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') How to Buy
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') How to Sell
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Promotion
			.botNav-menu__items
				.botNav-menu__title shop category
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Men
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Women
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Child
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Apparel
				.botNav-menu__item
					a.button.botNav-menu__link(href='#') Brows All
//.site__botNav