//.site__commentsSubscribe
section.site__commentsSubscribe
	.container.commentsSubscribe
		#carouselExampleIndicators.carousel.slide.commentsSubscribe__comment(data-ride='carousel')
			.carousel-inner.carouselComment
				.carousel-item.carouselComment__item.active
					.comment
						.comment__item
							img.comment__img(src='assets/img/index/comments/commentSliderImg-1.png')
							.comment__autor
								.comment-autor
									.comment-autor__name Bin Burhan
									.comment-autor__location Dhaka, Bd
						.comment__item
							.comment__text “Vestibulum quis porttitor dui! Quisque viverra nunc mi, a pulvinar purus condimentum a. Aliquam condimentum mattis neque sed pretium”

				ol.carousel-indicators.carouselComment__indicators
					li.carouselComment__list.active(data-target='#carouselExampleIndicators', data-slide-to='0')
					li.carouselComment__list(data-target='#carouselExampleIndicators', data-slide-to='1')
					li.carouselComment__list(data-target='#carouselExampleIndicators', data-slide-to='2')
		.commentsSubscribe__subscribe
			.subscribe
				.subscribe__text
					h3.subscribe__title Subscribe
					p.subscribe__description for our newsletter and promotion
				form.form-inline.form.subscribe__form
					input.form-control.form__input.subscribe__input(id='navbarDropdown' type='email', placeholder='Enter Your Email...', aria-label='Search')
					button.btn.btn-outline-success.button.form__submit.subscribe__submit(type='submit') Subscribe