footer.site__footer
  .container.flexCenterSpaceBetween.footer
    p.footer__p © 2017  Brand  All Rights Reserved.
    .footer__items
      .footer__item
        a.footer__link.footer__link__fb(href='#')
          i.fab.fa-facebook-f
      .footer__item
        a.footer__link(href='#')
          i.fab.fa-twitter
      .footer__item
        a.footer__link.footer__link__linkedIn(href='#')
          i.fab.fa-linkedin-in
      .footer__item
        a.footer__link.footer__link__pin(href='#')
          i.fab.fa-pinterest-p
      .footer__item
        a.footer__link.footer__link__google(href='#')
          i.fab.fa-google-plus-g
<!-- /.footer -->