header.site__header
  .navbar.navbar-expand-lg.container.fixed-top-lg.navbar-light.header
    a.header__logo(href='/')
      img.logo(alt='Logo' src='assets/img/logo.png')
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      .searchShopCart
        .searchShopCart-left
          nav.header-search
            .nav-item.dropdown
              a.navbarDropdown.dropdown-toggle.header-search-button__link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | Browse
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='#') Women
                .dropdown-divider(role='separator')
                a.dropdown-item(href='#') Dresses
                a.dropdown-item(href='#') Tops
                a.dropdown-item(href='#') Sweaters/Knits
                a.dropdown-item(href='#') Jackets/Coats
                a.dropdown-item(href='#') Blazers
                a.dropdown-item(href='#') Denim
                a.dropdown-item(href='#') Leggings/Pants
                a.dropdown-item(href='#') Skirts/Shorts
                a.dropdown-item(href='#') Accessories
                .dropdownMarginTop
                a.dropdown-item(href='#') Man
                .dropdown-divider(role='separator')
                a.dropdown-item(href='#') Tees/Tank tops
                a.dropdown-item(href='#') Shirts/Polos
                a.dropdown-item(href='#') Sweaters
                a.dropdown-item(href='#') Sweatshirts/Hoodies
                a.dropdown-item(href='#') Blazers
                a.dropdown-item(href='#') Jackets/vests

            .header-search
              form.form-inline.header-search-form
                input.form-control.header-search-form__input(id='navbarDropdown' type='search', placeholder='Search for item...', aria-label='Search')
                button.btn.btn-outline-success.button.header-search-form__button(type='submit')
                  i.fas.fa-search
        .searchShopCart-right
          .header-shopCart
            a.header-shopCart__link(href='#')
              img.header-shopCart__item(alt='Basket' src='assets/img/basket.png')
            .nav-item.dropdown
              a.navbarDropdown.dropdown-toggle.header-shopCart-button__link(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                | My account
              .dropdown-menu(aria-labelledby='navbarDropdown')
                a.dropdown-item(href='#') Действие
                a.dropdown-item(href='#') Еще действие
                .dropdown-divider(role='separator')
                a.dropdown-item(href='#') Что то еще
      nav.header-menu.d-xl-none.d-lg-none.d-md-none
        ul.nav.navbar-nav.header-top-nav
          li.top-nav__item
            a.top-nav__link.top-nav-content.top-nav__link--active(href='#') home
          li.top-nav__item
            a.top-nav__link.top-nav-content(href='#') man
          li.top-nav__item
            a.top-nav__link.top-nav-content(href='#') women
          li.top-nav__item
            a.top-nav__link.top-nav-content(href='#') kids
          li.top-nav__item
            a.top-nav__link.top-nav-content(href='#') accessories
          li.top-nav__item
            a.top-nav__link.top-nav-content(href='#') featured
          li.top-nav__item
            a.top-nav__link.top-nav-content(href='#') hot deals
<!-- /.header -->