section.site__top-nav
	.container
		nav.d-none.d-lg-block.d-xl-block
			ul.nav.top-nav
				li.nav-item.top-nav__item
					a.nav-link.top-nav__link.top-nav__link--active(href='#') home
				li.nav-item.top-nav__item
					a.nav-link.top-nav__link(href='#') man
				li.nav-item.top-nav__item
					a.nav-link.top-nav__link(href='#') women
				li.nav-item.top-nav__item
					a.nav-link.top-nav__link(href='#') kids
				li.nav-item.top-nav__item
					a.nav-link.top-nav__link(href='#') accessories
				li.nav-item.top-nav__item
					a.nav-link.top-nav__link(href='#') featured
				li.nav-item.top-nav__item
					a.nav-link.top-nav__link(href='#') hot deals
<!-- /.top-nav -->