section.site__topNav
	.container.topNav
		nav.d-none.d-md-block.d-lg-block.d-xl-block
			ul.nav.topNav__list
				li.button.nav-item.topNav__item
					a.nav-link.topNav__link.topNav__link--active(href='#') home
				li.button.nav-item.topNav__item
					a.nav-link.topNav__link(href='#') man
				li.button.nav-item.topNav__item
					a.nav-link.topNav__link(href='#') women
				li.button.nav-item.topNav__item
					a.nav-link.topNav__link(href='#') kids
				li.button.nav-item.topNav__item
					a.nav-link.topNav__link(href='#') accessories
				li.button.nav-item.topNav__item
					a.nav-link.topNav__link(href='#') featured
				li.button.nav-item.topNav__item
					a.nav-link.topNav__link(href='#') hot deals
//topNav