.container
	max-width lg
	box-sizing border-box
	margin 0 auto
.site
	background-color whiteColor
	width 100%
	min-width siteMinWidth
	min-height 100%
	margin 0 auto
	position relative
	font-family baseFont
	z-index 1
	&__content
		flex 1
	&__header
		box-shadow 0 0 0 rgba(0, 0, 0, 0.17)
		border 1px solid lightColor
		position relative
		z-index 10
	&__topNav
		position relative
		z-index 8
	&__cover
		position relative
		background-color lightColor
		margin-bottom 98px
		z-index 1
	&__categories
		width 100%
		height 100%
		margin-bottom 99px
	&__catalog
		width 100%
		height 100%
		margin-bottom 113px
	&__offer
		height 100%
		margin-bottom 97px
	&__commentsSubscribe
		height 437px
		background-color lightColor
		background-image url("../img/bg/bg-comments.jpg")
		background-repeat no-repeat
		background-position center
		margin-bottom 97px
		+responsive(xss)
			height 37em
			background-image none
	&__botNav
		width 100%
		height 100%
		background-color whiteColor
		margin-bottom 97px
	&__footer
		display flex
		background-color footerBGColor

.dropdownMarginTop
	height 1em