.site
  background-color lightColor
  width 100%
  min-width siteMinWidth
  //max-width siteMaxWidth
  min-height 100%
  margin 0 auto
  position relative
  font-family baseFont
  &__header
    box-shadow 0 0 0 rgba(0, 0, 0, 0.17)
    border 1px solid #ececec
  &__content
    flex 1
  &__cover
    background-color #e8e8e8
    margin-bottom 98px
  &__offer
    height 100%
    margin-bottom 97px
  &__footer
    background-color footerBGColor


.flexCenter
  height 100%
  display flex
  align-items center

.flexCenterSpaceBetween
  display flex
  align-items center
  justify-content space-between

.dropdownMarginTop
  height 1em