.form
	display flex
	align-items center
	flex-wrap nowrap
	&__input
		border none
		box-shadow none
		+placeholder()
			color inputPhColor
		&:active
			border-color lightColor!important
			box-shadow none!important
			outline none!important
		&:focus
			color baseColor
			border-color lightColor!important
			box-shadow none!important
	&__submit
		border none
		&:hover
			border-color lightColor
		&:active
			border-color lightColor!important
			box-shadow none!important
			outline none!important
		&:focus
			box-shadow none!important