/*.carouselComment*/
.carouselComment
	&__indicators
		position relative
		width 200px
		bottom 0
		padding 0
		margin 0 0 0 90px
		+responsive(md)
			right 68px
			bottom 25px
		& > li
			width 38px
			height 5px
			margin-right 13px
			margin-left 0
		& > li.active
			background-color accentColor