.comments
  height 438px
  background-color #e8e8e8
  background-image url("../img/bg-comments.jpg")
  background-repeat no-repeat
  background-position center
  margin-bottom 97px
  &-commentSlider
    width 497px
    height 271px
    margin-right 17%
    &__items
      height 100%
      margin-top 40px
      ol
        bottom 35%
        right 35%
    &__img
      width 87px
      height 87px
      display inline-block
      margin-top -31%
    &__description
      width 386px
      height 86px
      display inline-block
      color rgba(34, 34, 36, 0.67)
      font-size 16px
      font-style italic
      line-height 26px
      text-align left
      margin-top 3%
      margin-left 3%
    &__title
      color #f16d7f
      font-size 16px
      font-weight 700
      text-align left
      line-height 10px
      margin 5px 0 0 0
    &__span
      color #222224
      font-size 12px
      font-weight 300
      text-align left
      line-height 10px
      margin 0
  &-subscribe
    color rgba(34, 34, 36, 0.67)
    font-size 24px
    font-weight 400
    line-height 54px
    text-align center
    text-transform uppercase
    p
      font-size 14px
      line-height 24px