/*.commentsSubscribe*/
.commentsSubscribe
	width inherit
	height inherit
	display flex
	align-items center
	justify-content space-around
	+responsive(md)
		flex-direction column-reverse
		justify-content center
	&__carouselComment
		padding 0
		margin 0
	&__comment
		width 50%
		height 100%
		padding 24% 0 36% 0
		margin 0
		+responsive(md)
			width 80vw
			height 17vw
			margin-top 4vw
		+responsive(sm)
			height 22vw
		+responsive(xs)
			height 32vw
			margin-top 0
		+responsive(xss)
			width 99%
			height 60vw
	&__subscribe
		width 50%
		height 100%
		padding 25% 5%
		margin 0
		+responsive(md)
			width 80vw
		+responsive(xs)
			width 90vw
		+responsive(xss)
			height 45vw