.cover
  width 100%
  height 100%
  //&__img
  //  width 100vh
  &-text
    border-left coverTextBorderLeft
    padding 0
    margin coverTextMarginLeft
    left 0
    &__h1
      color #222222
      font-size coverTextTitle
      font-weight 700
      line-height 69%
      text-align left
      text-transform uppercase
      margin 0 0 2% 1%
    &__p
      color #222222
      font-size round(coverTextTitle/1.5)
      font-weight 700
      line-height 76%
      text-align left
      text-transform uppercase
      margin 0 0 0 1%
    &__span
      color #f16d7f
      font-weight 700
      text-align left
      text-transform uppercase
      margin 0 0 0 1%
