//checkout

.checkout_blok
  margin-top 57px
  margin-bottom 50px

.checkout_blok_name
  line-height 75px
  color #222222
  font-size 16px
  font-weight 700
  text-transform uppercase
  cursor pointer
  margin-left 1px

.checkout_blok_name span
  margin-right 8px

.checkout_blok_name::-webkit-details-marker
  display none

.checkout_blok_name:focus
  outline none

.checkout_blok_poloska
  width 1143px
  height 1px
  margin-bottom 2px
  margin-top 2px
  background-color #e8e8e8

.checkout_blok_details
  height 422px
  display flex
  flex-wrap wrap
  flex-direction column
  margin-left 35px
  margin-top 6px

.checkout_blok_left
  height 415px
  width 465px
  display flex
  flex-direction column

.checkout_blok_title
  color #222222
  font-size 13px
  font-weight 400
  text-transform uppercase
  margin-bottom 30px

.checkout_blok_title div
  color #b3b2b2
  font-size 13px
  font-weight 400
  line-height 20px
  text-transform none
  margin-top 8px
  margin-left -1px

.checkout_blok_right
  height 345px
  width 470px
  display flex
  flex-direction column

.checkout_as_guest
  display flex

.checkout_as_guest_all
  margin-bottom 12px

.checkout_as_guest_lable
  color #222222
  font-size 12px
  font-weight 400
  text-transform uppercase
  margin-left 14px
  margin-bottom 17px

.checkout_href
  margin-top -6px
  margin-left 3px

.checkout_href a
  display block
  text-decoration none
  color #b3b2b2
  font-size 13px
  font-weight 400
  line-height 20px
  margin-bottom 8px

#checkout_registr_submit_continue
  width 183px
  height 50px
  border 1px solid #eaeaea
  background-color #ffffff
  color #4a4a4a
  font-size 14px
  font-weight 700
  text-transform uppercase
  margin-top 27px

.checkout_login
  display flex
  flex-direction column

.checkout_password
  color #222222
  font-size 12px
  font-weight 400
  line-height 20px
  text-transform uppercase
  margin-top -11px
  margin-left -2px
  margin-bottom 10px

#email
  width 389px
  height 46px
  border 1px solid #eaeaea
  background-color #ffffff
  margin-bottom 27px

#password
  width 389px
  height 46px
  border 1px solid #eaeaea
  background-color #ffffff

#checkout_registr_submit
  width 179px
  height 50px
  border 1px solid #eaeaea
  background-color #ffffff
  color #4a4a4a
  font-size 14px
  font-weight 700
  text-transform uppercase
  margin-top 67px
  padding-right 29px