//shopingcart

.shopingcart_title
  height 22px
  margin-top 70px
  display flex
  justify-content space-between

.sh_title
  color #222222
  font-size 13px
  font-weight 700
  line-height 20px
  text-transform uppercase
  letter-spacing -0.2px

#sh_title_pd
  width 434px

.sh_item_border
  width 1143px
  border 1px solid #eaeaea
  background-color #000000
  margin-top 19px
  margin-bottom 19px

.shopingcart_item
  display flex
  align-items center
  justify-content space-between

.sh_item_title
  margin-left 21px
  width 702px

.sh_item_title_spec:first-child
  margin-top 30px

.sh_item_price
  display flex
  align-items flex-end
  margin-right 20px
  margin-left 92px
  color #656565
  font-size 13px
  font-weight 400

.sh_item_price i
  color #656565
  font-size 13px
  font-weight 400

.sh_item_price_del i
  color #c0c0c0
  cursor pointer

.sh_item_price_del i:active
  color #f16d7f

.sh_item_price_how
  width 57px
  height 33px
  border 1px solid #eaeaea
  background-color #ffffff
  text-align center
  margin-right -16px
  margin-left -7px

.sh_item_price_how::-webkit-inner-spin-button
  display none

.shopingcart_button
  margin-top 41px
  margin-bottom 100px
  display flex
  justify-content space-between

.shopingcart_button button
  width 238px
  height 53px
  border 1px solid #eaeaea
  background-color #ffffff
  color #4a4a4a
  font-size 14px
  font-weight 700
  text-transform uppercase
  cursor pointer

.shopingcart_checkout
  display flex
  justify-content space-between

.shopingcart_addres,
.shopingcart_coupoun
  color #222222
  font-size 16px
  font-weight 700
  text-transform uppercase

.form_shopcart
  display flex
  flex-direction column
  justify-content space-evenly
  height 240px

.form_shopcart_countries select
  width 358px
  height 48px
  border 1px solid #eaeaea
  border-radius 0
  background-color #ffffff
  color #b1b1b1
  font-size 13px
  font-weight 300
  padding-left 15px

.form_shopcart_countries select:focus
  outline none

#form_shopcart_state
  width 358px
  height 48px
  border 1px solid #eaeaea
  background-color #ffffff
  padding-left 15px
  padding-right 20px
  color #b1b1b1
  font-size 13px
  font-weight 300

#form_shopcart_zipcode,
#form_shopcart_coupon
  width 358px
  height 48px
  border 1px solid #eaeaea
  background-color #ffffff
  padding-left 15px
  padding-right 20px
  color #b1b1b1
  font-size 13px
  font-weight 300

#form_shopcart_zipcode::-webkit-inner-spin-button
  display none

#form_shopcart_zipcode:focus::-webkit-input-placeholder,
#form_shopcart_coupon:focus::-webkit-input-placeholder,
#form_shopcart_state:focus::-webkit-input-placeholder
  color transparent

#form_shopcart_zipcode:focus::-moz-placeholder,
#form_shopcart_coupon:focus::-moz-placeholder,
#form_shopcart_state:focus::-moz-placeholder
  color transparent

#form_shopcart_zipcode:focus:-moz-placeholder,
#form_shopcart_coupon:focus:-moz-placeholder,
#form_shopcart_state:focus:-moz-placeholder
  color transparent

#form_shopcart_zipcode:focus:-ms-input-placeholder,
#form_shopcart_coupon:focus:-ms-input-placeholder,
#form_shopcart_state:focus:-ms-input-placeholder
  color transparent

#form_shopcart_zipcode::-webkit-input-placeholder,
#form_shopcart_coupon::-webkit-input-placeholder,
#form_shopcart_state::-webkit-input-placeholder
  color #a4a4a4
  font-family 'Lato', sans-serif
  font-weight 100

#form_shopcart_zipcode::-moz-placeholder,
#form_shopcart_coupon::-moz-placeholder,
#form_shopcart_state::-moz-placeholder
  color #a4a4a4
  font-family 'Lato', sans-serif
  font-weight 100

#form_shopcart_zipcode:-moz-placeholder,
#form_shopcart_coupon:-moz-placeholder,
#form_shopcart_state:-moz-placeholder
  color #a4a4a4
  font-family 'Lato', sans-serif
  font-weight 100

#form_shopcart_zipcode:-ms-input-placeholder,
#form_shopcart_coupon:-ms-input-placeholder,
#form_shopcart_state:-ms-input-placeholder
  color #a4a4a4
  font-family 'Lato', sans-serif
  font-weight 100

#form_shopcart_button
  width 103px
  height 38px
  border 1px solid #eaeaea
  background-color #ffffff
  color #4a4a4a
  font-size 11px
  font-weight 700
  text-transform uppercase
  cursor pointer

.shopingcart_coupoun p
  color #000000
  font-size 14px
  font-weight 300
  text-transform none

.shopingcart_coupoun div
  display flex
  flex-direction column
  justify-content space-evenly
  height 240px

#form_shopcart_coupon
  width 358px
  height 48px
  border 1px solid #eaeaea
  background-color #ffffff

#form_shopcart_button_coupon
  width 121px
  height 38px
  border 1px solid #eaeaea
  background-color #ffffff
  color #4a4a4a
  font-size 11px
  font-weight 700
  text-transform uppercase
  cursor pointer

.shopingcart_checkout_blok
  width 363px
  height 217px
  background-color #f5f3f3
  display flex
  justify-content center
  align-items center
  margin-bottom 130px

.sub_total,
.grand_total
  display flex
  justify-content flex-end

.sub_total
  color #4a4a4a
  font-size 11px
  font-weight 400
  text-transform uppercase
  margin-bottom 14px

.sub_total span
  margin-left 20px

.grand_total
  color #222222
  font-size 16px
  font-weight 700
  text-transform uppercase

.grand_total span
  color #f16d7f
  margin-left 20px

.sh_ch_blok_poloska
  width 278px
  height 1px
  background-color #e2e2e2
  margin-top 20px
  margin-bottom 20px

.shopingcart_checkout_blok button
  width 276px
  height 54px
  background-color #f16d7f
  border 0
  color #ffffff
  font-size 16px
  font-weight 500
  text-transform uppercase
  cursor pointer