//для сингл паге
.breadcrumbs
  height 150px
  background-color #f8f3f4
  display flex
  align-items center

.breadcrumbs_block
  display flex
  justify-content space-between
  align-items center

.breadcrumbs h1
  color #f16d7f
  font-size 24px
  font-weight 400
  line-height 20px
  text-transform uppercase

#breadcrumbs
  font-size 14px
  font-weight 300
  line-height 20px
  text-transform uppercase
  display flex

#breadcrumbs .current
  color #f16d7f
  font-weight 700

#breadcrumbs a
  text-decoration none
  color #636363
  padding-left 5px
  padding-right 5px

#breadcrumbs li
  list-style-type none

//блок под картинкой товара
.item_foto_blok
  height 776px
  border 1px solid #eaeaea
  background-color #f7f7f7
  display flex
  justify-content space-around
  align-items center
  z-index 9999

.item_foto
  margin-top -31px
  margin-right 54px
  z-index 9999
  & img
    z-index 999

.angle
  height 46px
  width 46px
  background-color #d4d4d4
  text-decoration none
  display flex
  justify-content center
  align-items center
  margin-top -5px
  margin-left -78px

.angle:last-child
  margin-right -80px

.angle .fa
  color #ffffff
  font-size 24px

.angle:active
  background-color #f16d7f

//блок под карточку товара
.item_details_blok
  width 1140px
  height 730px
  background-color #ffffff
  border 1px solid #eaeaea
  margin-top -86px
  display flex
  align-items center
  flex-direction column
  justify-content space-evenly

.item_category_name_block
  height 94px
  width 300px
  display flex
  flex-direction column
  justify-content space-between
  align-items center
  margin-top 26px

.item_category_name
  color #f16d7f
  font-size 14px
  font-weight 700
  line-height 37px
  text-transform uppercase
  border-bottom 1px solid #eaeaea
  margin-top -6px

.item_category_poloska_1
  width 65px
  height 3px
  background-color #ef5b70
  position absolute
  margin-top 31px

.item_id_name
  color #4d4d4d
  font-size 18px
  font-weight 700
  line-height 24px
  text-transform uppercase
  margin-bottom 26px

.item_discription
  width 620px
  color #5e5e5e
  font-size 14px
  font-weight 300
  line-height 24px
  text-align center
  margin-top 8px

.item_composition_price
  height 180px
  display flex
  flex-direction column
  align-items center
  justify-content space-around
  margin-top -24px

.item_composition
  width 382px
  display flex
  justify-content space-around
  margin-bottom 4px

.material
  color #b9b9b9
  font-size 14px
  font-weight 700
  line-height 24px
  text-transform uppercase

.material span
  color #2f2f2f

.disainer
  color #b9b9b9
  font-size 14px
  font-weight 700
  line-height 24px
  text-transform uppercase

.disainer span
  color #2f2f2f

.item_id_price
  width 54px
  height 24px
  color #ef5b70
  font-size 24px
  font-weight 700
  line-height 24px
  margin-top 12px
  margin-bottom -11px
  margin-right 26px

.item_category_poloska_3
  width 645px
  height 1px
  border 1px solid #eaeaea
  margin-top 3px

.item_specification
  display flex
  justify-content space-around
  align-items center
  width 538px
  margin-top 18px
  margin-bottom -20px

.item_specification
  select,
  input
    width 146px
    height 37px
    border 1px solid #eaeaea
    background-color #ffffff

.item__details
  select,
  input
    color #bcbcbc
    font-size 13px
    font-weight 400
    line-height 24px
    margin-top 9px
    margin-bottom 6px
    padding-left 10px

.item__details
  color #2f2f2f
  font-size 14px
  font-weight 700
  line-height 24px
  text-transform uppercase

#item__details
  border-radius 1px

.item_details_blok
  a
    display flex
    justify-content center
    align-items center
    width 539px
    height 55px
    border 1px solid #ef5b70
    background-color #ffffff
    color #ef5b70
    font-size 16px
    font-weight 700
    text-decoration none
    margin-bottom 82px
    img
      margin-right 10px

.you_may_like
  display flex
  justify-content center
  text-transform uppercase
  line-height 20px
  margin-top 118px

.you_may_like h3
  color #4d4d4d
  font-size 24px
  font-weight 400
  text-transform uppercase
