//site
// height 437px
// background-color lightColor
// background-image url("../img/bg/bg-comments.jpg")
// background-repeat no-repeat
// background-position center
// margin-bottom 97px
// 		+responsive(xss)
// 			height 37em
// 			background-image none
//section
//comment
//subscribe