//base
btnBaseColor = #222
btnBaseBgColor = #f0f0f0
btnBaseBdrColor = #e8e8e8
btnBaseColor-hover = #f16d7f
btnBaseColor-active = #fff
btnBaseBgColor-active = #f16d7f
//assent
btnAssentColor = #fff
btnAssentBgColor = #f16d7f
btnAssentBdrColor = #e6e6e6
btnAssentColor-active = #f16d7f
btnAssentBgColor-active = #f0f0f0