/* header */
.header
	display flex
	align-items center
	justify-content space-between
	padding 23px 0
	&-logo
		&__link
			display block
			margin-right 37px
	&-toggle
		&__button
			&:active
				color whiteColor!important
				background-color accentColor
	&-collapse
		width 100%
		height 100%
		display flex
		align-items center
		justify-content space-between
		+responsive(sm)
			justify-content space-around
			margin-top 40px
			flex-wrap wrap
		+responsive(xs)
			margin-top 12px
			justify-content center
			flex-direction column
		&__item
			&:nth-child(1)
				+responsive(xs)
					margin-bottom 15px
	&-search
		height 39px
		display flex
		align-items center
		justify-content start
		flex-wrap nowrap
		&__item
			height inherit
		&__dropdownButton
			position relative
			height inherit
			color #222222
			font-size 14px
			font-weight 300
			letter-spacing 0.35px
			background-color moreLightColor
			border-radius 3px 0 0 3px
			border 1px solid lightColor
			padding 10px 20px 10px 17px
			&::after
				color grayColor
			&:hover
				color baseColor
		&__form
			height inherit
			display flex
			justify-content space-around
			align-items center
			flex-wrap nowrap
		&__input
			width 280px
			height inherit
			font-size 14px
			letter-spacing 0.5px
			border 1px solid lightColor
			border-radius 0
			border-left 0
			border-right 0
			padding 0 7px
			+responsive(md)
				width 20vw
			+responsive(sm)
				width 25vw
			+responsive(xs)
				width 50vw
		&__button
			width 37px
			height inherit
			font-size 14px
			color grayColor
			background whiteColor
			border-radius 0 3px 3px 0
			border 1px solid lightColor
			&:hover
				background-color accentColor
		&__fa
			margin-left -2px

	&-basket
		display flex
		align-items center
		justify-content space-around
		+responsive(sm)
			justify-content center
		&__item
			&:nth-child(1)
				margin-right 15px
				+responsive(sm)
					margin-right 5px
		&__link
			width 100%
			height 100%
			+responsive(sm)
				padding 10px
		&__img
			width 32px
			height 29px
		&__button
			height 39px
			color whiteColor
			background-color accentColor
			font-size 14px
			font-weight 300
			letter-spacing 0.35px
			text-decoration none
			border 1px solid lightColor
			padding-left 29px
			padding-right 25px
			&::after
				color whiteColor
			&:hover
				color whiteColor
	&-topNav
		width 90vw
		+responsive(sm)
			margin-top 40px
		+responsive(xs)
			width 50vw
		&__list
			+responsive(sm)
				flex-direction row
				justify-content center
			+responsive(xs)
				flex-direction column
		&__item
			+responsive(sm)
				box-shadow 2px hoff baseColor
				margin 1.1vw
			+responsive(xs)
				margin 5px
			&:active
				background-color moreLightColor
		&__link
			+responsive(sm)
				font-size 16px!important
				padding 16px 30px!important
				border-radius 4px
				box-shadow 0 1px 0 0 rgba(0, 0, 0, 0.17)
			&--active
				color grayColor!important
				font-weight 600!important
				transform scale(.97)
				border 1px solid #e6e6e6
				background-color moreLightColor
				box-shadow none!important
				cursor not-allowed
				opacity .8!important
				&:hover
					transform scale(.97)!important
					opacity .7!important
				&:active
					color grayColor!important
					opacity .7!important
					transform scale(.97)!important
		&__item
			+responsive(sm)
				text-align center