.searchShopCart
  width 100%
  display flex
  justify-content space-between
  align-items center
  flex-wrap wrap
  margin-top headerHeightPadding
  &-left
    width 24em
    margin-bottom headerHeightPadding
  &-right
    width 13em
    margin-bottom headerHeightPadding