.top-nav-content
  +responsive(sm)
    padding 16px 30px!important
    font-size: 16px!important

.top-nav__item
  +responsive(sm)
    text-align center

.searchShopCart
  +responsive(xs)
    justify-content center
  &-left
    +responsive(sm)
      width 20.5em