.offer
  background-color #222224
  display flex
  justify-content space-between
  padding 0
  &-cover
    width 100%
    &__img
      height 100%
      position relative
    &__title
      position absolute
      color #ffffff
      font-size 54px
      line-height 48px
      font-weight 700
      text-transform uppercase
      letter-spacing 1.5px
      margin 19% 0 0 5%
    &__span
      color #f16d7f
    &__description
      color #ffffff
      font-size 32px
      font-weight 700
      text-transform uppercase
      letter-spacing 0.9px
  &-items
    display flex
    align-items center
    justify-content space-around
    flex-wrap wrap
    &__item
      display flex
      margin 5% 1%
    &__img
      width 36px
      height 30%
      margin-right 15px
    &__img img
      width 100%
    &__title
      color #fbfbfb
      font-size 20px
      font-weight 700
      letter-spacing 0.5px
    &__description
      width 219px
      color #fbfbfb
      font-size 14px
      font-weight 300
      line-height 24px
      letter-spacing 0.35px