.footer
	height footerHeight
	color footerColor
	display flex
	align-items center
	justify-content space-between
	&__p
		margin 0
		font-size footerFontSize
		font-weight footerFontWeight
	&__items
		display flex
	&__item
		background-color #ffffff
		width 32px
		height 32px
		margin-left 5px
		&:hover
			background-color #f16d7f
		&:visited
			opacity .3
	&__link
		color #b2b2b2
		line-height 32px
		padding 9px
		padding-top 7px
		&:hover
			color #fff
		&__fb
			padding-left 13px
			padding-right 11px
		&__linkedIn
			padding-left 11px
			padding-bottom 8px
		&__pin
			padding 7px 11px 7px 10px
		&__google
			padding-right 6px