@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900&subset=latin-ext");
.body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 1.4;
  height: 100%;
  margin: 0 auto;
  padding: 0;
}
.bot-nav {
  height: 246px;
  background-color: #fff;
}
.bot-nav__logo {
  margin-bottom: 20px;
}
.bot-nav__items {
  height: 100%;
  flex-wrap: wrap;
  margin-bottom: 89px;
}
.bot-nav__text {
  width: 428px;
}
.bot-nav-menu {
  width: 608px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.bot-nav-menu__item {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.bot-nav-menu__links {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 5px;
}
.bot-nav-menu__links a {
  color: #898989;
}
.bot-nav-menu__links a:hover {
  text-decoration: none;
}
.breadcrumbs {
  height: 150px;
  background-color: #f8f3f4;
  display: flex;
  align-items: center;
}
.breadcrumbs__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs__title {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
.breadcrumbs__list {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
}
.breadcrumbs__item {
  list-style-type: none;
}
.breadcrumbs__link {
  color: #636363;
  padding-left: 5px;
  padding-right: 5px;
}
.breadcrumbs__link:hover {
  color: #636363;
  text-decoration: none;
}
.breadcrumbs__link--active {
  color: #f16d7f;
  font-weight: 700;
  margin-left: 5px;
}
.breadcrumbs__link--active:hover {
  color: #f16d7f;
  text-decoration: none;
}
.catalog {
  margin-bottom: 113px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalog-title {
  margin-top: 99px;
  text-align: center;
  letter-spacing: 0.75px;
}
.catalog-title__title {
  color: #222;
  font-size: 30px;
  font-weight: 600;
}
.catalog-title__description {
  line-height: 30px;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
.catalog__items {
  margin-top: 56px;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 12px;
  justify-content: space-around;
}
.catalog-item {
  width: 260px;
  height: 363px;
  position: relative;
  margin-bottom: 39px;
}
.catalog-item__name {
  margin-left: 15px;
  margin-top: 12px;
  color: #222;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}
.catalog-item__price {
  margin-left: 14px;
  margin-top: 13px;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.catalog-item__img {
  width: 262px;
  height: 280px;
}
.catalog-item:hover {
  width: 260px;
  height: 363px;
  box-shadow: 0 5px 8px rgba(0,0,0,0.16);
}
.catalog-item:hover .catalog-item__img {
  -webkit-filter: brightness(50%);
}
.catalog-item-hover {
  display: none;
  width: 260px;
  height: 363px;
  position: absolute;
  top: 0;
  left: 0;
}
.catalog-item-hover__card {
  display: flex;
  width: 130px;
  height: 50px;
  border: 1px solid #fff;
  margin: 100px auto;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 13px;
  font-weight: 300;
}
.catalog-item-hover__img {
  width: 27px;
  height: 25px;
  margin-right: 10px;
}
.catalog-item:hover .catalog-item-hover {
  text-decoration: none;
  display: block;
}
.catalog-button {
  width: 215px;
  height: 51px;
  background-color: #f16d7f;
  border-width: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0.4px;
  display: block;
  text-align: center;
  margin: 0 auto;
}
.catalog-button:hover {
  cursor: pointer;
}
.catalog-button:active {
  opacity: 0.5;
}
.catalog-button__img {
  margin-bottom: 2px;
  margin-left: 5px;
}
.categories {
  width: 100%;
  height: 100%;
  margin-top: 88px;
  margin-bottom: 20px;
  padding: 0;
}
.categories__items {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 100%;
}
@media only screen and (max-width: 992px) {
  .categories__items {
    justify-content: center;
  }
}
.cat_1 {
  width: 40em;
  height: 542px;
  margin: 0;
}
.cat_1_img {
  position: absolute;
  z-index: 100;
}
.cat_1_img:hover {
  opacity: 0.8;
}
.cat_1_name {
  height: 81px;
  margin-top: 27px;
  display: flex;
  position: absolute;
  z-index: 9999;
}
.cat_1_name a {
  color: #222;
  background-color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  text-decoration: none;
  padding: 13px 18px 0 18px;
  margin-top: -1px;
}
.cat_1_name span {
  color: #f16d7f;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: 0.75px;
}
.cat_2 {
  width: 40em;
  height: 261px;
  margin: 0;
}
@media only screen and (max-width: 1200px) {
  .cat_2 {
    margin-top: 11px;
  }
}
.cat_3 {
  width: 40em;
  height: 260px;
  background-color: #dadad2;
  margin: 11px 0 0 0;
}
@media only screen and (max-width: 1200px) {
  .cat_3 {
    margin-top: 563px;
  }
}
.cat_3 img {
  padding-left: 149px;
  padding-bottom: 21px;
}
.cat_4 {
  width: 40em;
  height: 541px;
  align-content: flex-start;
  margin: -271px 0 0 0;
}
@media only screen and (max-width: 1200px) {
  .cat_4 {
    margin-top: -813px;
  }
}
.checkout_blok {
  margin-top: 57px;
  margin-bottom: 50px;
}
.checkout_blok_name {
  line-height: 75px;
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 1px;
}
.checkout_blok_name span {
  margin-right: 8px;
}
.checkout_blok_name::-webkit-details-marker {
  display: none;
}
.checkout_blok_name:focus {
  outline: none;
}
.checkout_blok_poloska {
  width: 1143px;
  height: 1px;
  margin-bottom: 2px;
  margin-top: 2px;
  background-color: #e8e8e8;
}
.checkout_blok_details {
  height: 422px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 35px;
  margin-top: 6px;
}
.checkout_blok_left {
  height: 415px;
  width: 465px;
  display: flex;
  flex-direction: column;
}
.checkout_blok_title {
  color: #222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.checkout_blok_title div {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: none;
  margin-top: 8px;
  margin-left: -1px;
}
.checkout_blok_right {
  height: 345px;
  width: 470px;
  display: flex;
  flex-direction: column;
}
.checkout_as_guest {
  display: flex;
}
.checkout_as_guest_all {
  margin-bottom: 12px;
}
.checkout_as_guest_lable {
  color: #222;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 14px;
  margin-bottom: 17px;
}
.checkout_href {
  margin-top: -6px;
  margin-left: 3px;
}
.checkout_href a {
  display: block;
  text-decoration: none;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}
#checkout_registr_submit_continue {
  width: 183px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 27px;
}
.checkout_login {
  display: flex;
  flex-direction: column;
}
.checkout_password {
  color: #222;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: -11px;
  margin-left: -2px;
  margin-bottom: 10px;
}
#email {
  width: 389px;
  height: 46px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  margin-bottom: 27px;
}
#password {
  width: 389px;
  height: 46px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
#checkout_registr_submit {
  width: 179px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 67px;
  padding-right: 29px;
}
.comments {
  height: 438px;
  background-color: #e8e8e8;
  background-image: url("../img/bg-comments.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 97px;
}
.comments-commentSlider {
  width: 497px;
  height: 271px;
  margin-right: 17%;
}
.comments-commentSlider__items {
  height: 100%;
  margin-top: 40px;
}
.comments-commentSlider__items ol {
  bottom: 35%;
  right: 35%;
}
.comments-commentSlider__img {
  width: 87px;
  height: 87px;
  display: inline-block;
  margin-top: -31%;
}
.comments-commentSlider__description {
  width: 386px;
  height: 86px;
  display: inline-block;
  color: rgba(34,34,36,0.67);
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  text-align: left;
  margin-top: 3%;
  margin-left: 3%;
}
.comments-commentSlider__title {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
  line-height: 10px;
  margin: 5px 0 0 0;
}
.comments-commentSlider__span {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  text-align: left;
  line-height: 10px;
  margin: 0;
}
.comments-subscribe {
  color: rgba(34,34,36,0.67);
  font-size: 24px;
  font-weight: 400;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
}
.comments-subscribe p {
  font-size: 14px;
  line-height: 24px;
}
.cover {
  width: 100%;
  height: 100%;
}
.cover-text {
  border-left: 0.8vw solid #ef5b70;
  padding: 0;
  margin: 0 0 20vw 0;
  left: 0;
}
.cover-text__h1 {
  color: #222;
  font-size: 4.4vw;
  font-weight: 700;
  line-height: 69%;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 2% 1%;
}
.cover-text__p {
  color: #222;
  font-size: 3vw;
  font-weight: 700;
  line-height: 76%;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 0 1%;
}
.cover-text__span {
  color: #f16d7f;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin: 0 0 0 1%;
}
.footer {
  height: 79px;
  color: #7a7a7a;
}
.footer__p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}
.footer__items {
  display: flex;
}
.footer__item {
  background-color: #fff;
  width: 32px;
  height: 32px;
  margin-left: 5px;
}
.footer__item:hover {
  background-color: #f16d7f;
}
.footer__item:visited {
  opacity: 0.3;
}
.footer__link {
  color: #b2b2b2;
  line-height: 32px;
  padding: 9px;
  padding-top: 7px;
}
.footer__link:hover {
  color: #fff;
}
.footer__link__fb {
  padding-left: 13px;
  padding-right: 11px;
}
.footer__link__linkedIn {
  padding-left: 11px;
  padding-bottom: 8px;
}
.footer__link__pin {
  padding: 7px 11px 7px 10px;
}
.footer__link__google {
  padding-right: 6px;
}
.header {
  display: flex;
  align-items: center;
}
.header__logo {
  margin-right: 37px;
}
.header-search {
  height: 38px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.header-search-button__link {
  height: 100%;
  color: #222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  background-color: #f9f9f9;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  padding: 10px 20px 10px 17px;
}
.header-search-button__link:hover {
  color: #222;
}
.header-search-button__link::after {
  color: #838383;
}
.header-search-form {
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 11em;
}
.header-search-form__input {
  height: 100%;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  padding-left: 15px;
  padding-right: 5px;
}
.header-search-form__button {
  height: 100%;
  width: 35px;
  font-size: 14px;
  color: #838383;
  background: #fff;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
}
.header-shopCart {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-shopCart__img {
  width: 32px;
  height: 29px;
}
.header-shopCart-button__link {
  color: #fff;
  background-color: #f16d7f;
  line-height: 39px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  border: 1px solid #e6e6e6;
  padding: 10px 21px 9px 17px;
}
.header-shopCart__link:hover {
  color: #222;
  text-decoration: none;
}
.searchShopCart {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.5em;
}
.searchShopCart-left {
  width: 24em;
  margin-bottom: 1.5em;
}
.searchShopCart-right {
  width: 13em;
  margin-bottom: 1.5em;
}
@media only screen and (max-width: 768px) {
  .top-nav-content {
    padding: 16px 30px !important;
    font-size: 16px !important;
  }
}
@media only screen and (max-width: 768px) {
  .top-nav__item {
    text-align: center;
  }
}
@media only screen and (max-width: 576px) {
  .searchShopCart {
    justify-content: center;
  }
}
@media only screen and (max-width: 768px) {
  .searchShopCart-left {
    width: 20.5em;
  }
}
.button-button__link,
.button-dropdown-button__link,
.header-search-button__link,
.form-button__link,
.header-shopCart-button__link {
  line-height: 39px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  border: 1px solid #e6e6e6;
}
.button-button__link:active,
.button-dropdown-button__link:active,
.header-search-button__link:active,
.form-button__link:active,
.header-shopCart-button__link:active {
  color: #222;
  background-color: #fff;
}
.button-button__link:hover,
.button-dropdown-button__link:hover,
.header-search-button__link:hover,
.form-button__link:hover,
.header-shopCart-button__link:hover {
  color: #fff;
  text-decoration: none;
}
.button-button__link::after,
.button-dropdown-button__link::after,
.header-search-button__link::after,
.form-button__link::after,
.header-shopCart-button__link::after {
  color: #fff;
  margin-left: 3px;
  margin-top: 18px;
  position: absolute;
}
.logo {
  width: 165px;
  height: 51px;
}
.offer {
  background-color: #222224;
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.offer-cover {
  width: 100%;
}
.offer-cover__img {
  height: 100%;
  position: relative;
}
.offer-cover__title {
  position: absolute;
  color: #fff;
  font-size: 54px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  margin: 19% 0 0 5%;
}
.offer-cover__span {
  color: #f16d7f;
}
.offer-cover__description {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}
.offer-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.offer-items__item {
  display: flex;
  margin: 5% 1%;
}
.offer-items__img {
  width: 36px;
  height: 30%;
  margin-right: 15px;
}
.offer-items__img img {
  width: 100%;
}
.offer-items__title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
.offer-items__description {
  width: 219px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
.catalog_product_menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.catalog_product_categories_blok {
  width: 246px;
}
.catalog_product_categories_blok details[open] .close_open_details {
  background-image: url("../img/product/open_details.png");
  color: #ef5b70;
}
.catalog_product_categories_blok details[open] .catalog_product_categories span {
  color: #ef5b70;
}
.catalog_product_categories_blok details[open] .catalog_product_categories {
  border-bottom: 0;
}
.catalog_product_categories {
  width: 246px;
  height: 36px;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.catalog_product_categories::-webkit-details-marker {
  display: none;
}
.catalog_product_categories:focus {
  outline: none;
}
.catalog_product_categories span {
  margin-left: 12px;
  margin-right: 9px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
.close_open_details {
  width: 9px;
  height: 6px;
  background-image: url("../img/product/close_details.png");
}
.catalog_product_categories_nav_details li {
  list-style-type: none;
  margin-top: -7px;
}
.catalog_product_categories_nav_details a {
  text-decoration: none;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 41px;
  margin-left: 17px;
}
.catalog_product_categories_nav_details ul:last-child {
  margin-bottom: 26px;
  margin-top: -12px;
}
.catalog_product_menu {
  margin-top: -4px;
}
.catalog_product_filter {
  width: 850px;
  height: 117px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.cat_pr_filter_trending {
  margin-left: 3px;
}
.cat_pr_filter_trending .href {
  width: 194px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  margin-top: 13px;
  margin-left: 1px;
}
.cat_pr_filter_trending a {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-decoration: none;
  text-transform: none;
}
.cat_pr_filter_trending span {
  color: #dfdfdf;
  margin-left: 11px;
  margin-right: 10px;
}
.cat_pr_filter_size {
  margin-left: 76px;
}
.cat_pr_filter_size form {
  margin-top: 13px;
  height: 51px;
  width: 272px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.size-checkbox {
  height: 16px;
  display: flex;
  align-items: center;
}
.checkbox-1 {
  width: 69px;
}
.checkbox-2 {
  width: 70px;
}
.checkbox-3 {
  width: 62px;
}
.checkbox-4 {
  width: 56px;
}
.checkbox-5 {
  width: 69px;
}
.checkbox-6 {
  width: 70px;
}
.checkbox-7 {
  width: 66px;
}
.cat_pr_filter_size input {
  margin-right: 9px;
  margin-left: 1px;
}
.cat_pr_filter_size label {
  color: #6f6e6e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-right: 21px;
}
.cat_pr_filter_price {
  width: 262px;
}
.cat_pr_filter_price .label {
  margin-top: 9px;
}
#label_range {
  -webkit-appearance: none;
  width: 261px;
  border-radius: 3px;
  height: 5px;
  background-color: #f0f0f0;
}
#label_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #f16d7f;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  cursor: pointer;
}
#label_range::-moz-range-track {
  width: 100%;
  border-radius: 3px;
  height: 5px;
  background-color: #f0f0f0;
}
#label_range::-moz-range-thumb {
  background-color: #f16d7f;
  width: 17px;
  height: 17px;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
}
.cat_pr_filter_price .prices {
  display: flex;
  justify-content: space-between;
  margin-top: 13px;
}
.catalog_product_sort {
  width: 850px;
  height: 53px;
  margin-bottom: 45px;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
}
.cat_prod_sort {
  margin-left: 13px;
  width: 154px;
  height: 33px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
#sort_by {
  padding-left: 8px;
}
.cat_prod_sort select:hover {
  cursor: pointer;
}
.cat_prod_sort label {
  padding-right: 10px;
  line-height: 32px;
  border-right: 1px solid #ebebeb;
}
.cat_prod_sort select {
  width: 86px;
  height: 30px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: #fff;
  outline: none;
}
.cat_prod_show {
  margin-left: 8px;
  width: 122px;
  height: 33px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
}
#show {
  padding-left: 10px;
}
.cat_prod_show select:hover {
  cursor: pointer;
}
.cat_prod_show label {
  padding-right: 10px;
  line-height: 32px;
  border-right: 1px solid #ebebeb;
}
.cat_prod_show select {
  width: 65px;
  height: 30px;
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  background: #fff;
  line-height: 32px;
  outline: none;
}
.select {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.select span {
  position: absolute;
  margin-left: -8px;
}
.item_catalog {
  width: 848px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.paginator {
  width: 264px;
  height: 47px;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.paginator i {
  width: 8px;
  height: 13px;
  color: #aaa;
  font-size: 20px;
  font-weight: 400;
  line-height: 26.15px;
}
.paginator i:hover {
  color: #ef5b70;
}
.paginator a {
  text-decoration: none;
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  padding: 10px 8px 10px 8px;
}
.paginator a:hover {
  color: #ef5b70;
}
#paginator_active_link {
  color: #ef5b70;
}
.catalog_product_footer {
  display: flex;
  justify-content: space-between;
}
.catalog_product_footer button {
  width: 151px;
  height: 44px;
  margin-top: 2px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #fff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  cursor: pointer;
}
.catalog_product {
  margin-top: 70px;
  margin-bottom: 60px;
}
.adv_product_box {
  width: 100%;
  background-color: #222224;
  margin-top: 50px;
}
.adv_product {
  display: flex;
  height: 340px;
  justify-content: space-between;
  align-items: center;
}
.adv_product_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
  margin-left: 20px;
  margin-right: 20px;
}
.adv_product_block_img {
  margin-bottom: 18px;
}
.adv_product_block_title {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}
.adv_product_block_txt {
  text-align: center;
  width: 318px;
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 23.95px;
  letter-spacing: 0.35px;
  margin-bottom: 10px;
}
.shopingcart_title {
  height: 22px;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}
.sh_title {
  color: #222;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
#sh_title_pd {
  width: 434px;
}
.sh_item_border {
  width: 1143px;
  border: 1px solid #eaeaea;
  background-color: #000;
  margin-top: 19px;
  margin-bottom: 19px;
}
.shopingcart_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sh_item_title {
  margin-left: 21px;
  width: 702px;
}
.sh_item_title_spec:first-child {
  margin-top: 30px;
}
.sh_item_price {
  display: flex;
  align-items: flex-end;
  margin-right: 20px;
  margin-left: 92px;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
}
.sh_item_price i {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
}
.sh_item_price_del i {
  color: #c0c0c0;
  cursor: pointer;
}
.sh_item_price_del i:active {
  color: #f16d7f;
}
.sh_item_price_how {
  width: 57px;
  height: 33px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  text-align: center;
  margin-right: -16px;
  margin-left: -7px;
}
.sh_item_price_how::-webkit-inner-spin-button {
  display: none;
}
.shopingcart_button {
  margin-top: 41px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-between;
}
.shopingcart_button button {
  width: 238px;
  height: 53px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.shopingcart_checkout {
  display: flex;
  justify-content: space-between;
}
.shopingcart_addres,
.shopingcart_coupoun {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.form_shopcart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 240px;
}
.form_shopcart_countries select {
  width: 358px;
  height: 48px;
  border: 1px solid #eaeaea;
  border-radius: 0;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding-left: 15px;
}
.form_shopcart_countries select:focus {
  outline: none;
}
#form_shopcart_state {
  width: 358px;
  height: 48px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 20px;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}
#form_shopcart_zipcode,
#form_shopcart_coupon {
  width: 358px;
  height: 48px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  padding-left: 15px;
  padding-right: 20px;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
}
#form_shopcart_zipcode::-webkit-inner-spin-button {
  display: none;
}
#form_shopcart_zipcode:focus::-webkit-input-placeholder,
#form_shopcart_coupon:focus::-webkit-input-placeholder,
#form_shopcart_state:focus::-webkit-input-placeholder {
  color: transparent;
}
#form_shopcart_zipcode:focus::-moz-placeholder,
#form_shopcart_coupon:focus::-moz-placeholder,
#form_shopcart_state:focus::-moz-placeholder {
  color: transparent;
}
#form_shopcart_zipcode:focus:-moz-placeholder,
#form_shopcart_coupon:focus:-moz-placeholder,
#form_shopcart_state:focus:-moz-placeholder {
  color: transparent;
}
#form_shopcart_zipcode:focus:-ms-input-placeholder,
#form_shopcart_coupon:focus:-ms-input-placeholder,
#form_shopcart_state:focus:-ms-input-placeholder {
  color: transparent;
}
#form_shopcart_zipcode::-webkit-input-placeholder,
#form_shopcart_coupon::-webkit-input-placeholder,
#form_shopcart_state::-webkit-input-placeholder {
  color: #a4a4a4;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
#form_shopcart_zipcode::-moz-placeholder,
#form_shopcart_coupon::-moz-placeholder,
#form_shopcart_state::-moz-placeholder {
  color: #a4a4a4;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
#form_shopcart_zipcode:-moz-placeholder,
#form_shopcart_coupon:-moz-placeholder,
#form_shopcart_state:-moz-placeholder {
  color: #a4a4a4;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
#form_shopcart_zipcode:-ms-input-placeholder,
#form_shopcart_coupon:-ms-input-placeholder,
#form_shopcart_state:-ms-input-placeholder {
  color: #a4a4a4;
  font-family: 'Lato', sans-serif;
  font-weight: 100;
}
#form_shopcart_button {
  width: 103px;
  height: 38px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.shopingcart_coupoun p {
  color: #000;
  font-size: 14px;
  font-weight: 300;
  text-transform: none;
}
.shopingcart_coupoun div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 240px;
}
#form_shopcart_coupon {
  width: 358px;
  height: 48px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
#form_shopcart_button_coupon {
  width: 121px;
  height: 38px;
  border: 1px solid #eaeaea;
  background-color: #fff;
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}
.shopingcart_checkout_blok {
  width: 363px;
  height: 217px;
  background-color: #f5f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 130px;
}
.sub_total,
.grand_total {
  display: flex;
  justify-content: flex-end;
}
.sub_total {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
}
.sub_total span {
  margin-left: 20px;
}
.grand_total {
  color: #222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.grand_total span {
  color: #f16d7f;
  margin-left: 20px;
}
.sh_ch_blok_poloska {
  width: 278px;
  height: 1px;
  background-color: #e2e2e2;
  margin-top: 20px;
  margin-bottom: 20px;
}
.shopingcart_checkout_blok button {
  width: 276px;
  height: 54px;
  background-color: #f16d7f;
  border: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
.breadcrumbs {
  height: 150px;
  background-color: #f8f3f4;
  display: flex;
  align-items: center;
}
.breadcrumbs_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrumbs h1 {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
#breadcrumbs {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
}
#breadcrumbs .current {
  color: #f16d7f;
  font-weight: 700;
}
#breadcrumbs a {
  text-decoration: none;
  color: #636363;
  padding-left: 5px;
  padding-right: 5px;
}
#breadcrumbs li {
  list-style-type: none;
}
.item_foto_blok {
  height: 776px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 9999;
}
.item_foto {
  margin-top: -31px;
  margin-right: 54px;
  z-index: 9999;
}
.item_foto img {
  z-index: 999;
}
.angle {
  height: 46px;
  width: 46px;
  background-color: #d4d4d4;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  margin-left: -78px;
}
.angle:last-child {
  margin-right: -80px;
}
.angle .fa {
  color: #fff;
  font-size: 24px;
}
.angle:active {
  background-color: #f16d7f;
}
.item_details_blok {
  width: 1140px;
  height: 730px;
  background-color: #fff;
  border: 1px solid #eaeaea;
  margin-top: -86px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}
.item_category_name_block {
  height: 94px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}
.item_category_name {
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  line-height: 37px;
  text-transform: uppercase;
  border-bottom: 1px solid #eaeaea;
  margin-top: -6px;
}
.item_category_poloska_1 {
  width: 65px;
  height: 3px;
  background-color: #ef5b70;
  position: absolute;
  margin-top: 31px;
}
.item_id_name {
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 26px;
}
.item_discription {
  width: 620px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-top: 8px;
}
.item_composition_price {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: -24px;
}
.item_composition {
  width: 382px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 4px;
}
.material {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.material span {
  color: #2f2f2f;
}
.disainer {
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.disainer span {
  color: #2f2f2f;
}
.item_id_price {
  width: 54px;
  height: 24px;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: -11px;
  margin-right: 26px;
}
.item_category_poloska_3 {
  width: 645px;
  height: 1px;
  border: 1px solid #eaeaea;
  margin-top: 3px;
}
.item_specification {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 538px;
  margin-top: 18px;
  margin-bottom: -20px;
}
.item_specification select,
.item_specification input {
  width: 146px;
  height: 37px;
  border: 1px solid #eaeaea;
  background-color: #fff;
}
.item__details select,
.item__details input {
  color: #bcbcbc;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 9px;
  margin-bottom: 6px;
  padding-left: 10px;
}
.item__details {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
#item__details {
  border-radius: 1px;
}
.item_details_blok a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 539px;
  height: 55px;
  border: 1px solid #ef5b70;
  background-color: #fff;
  color: #ef5b70;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 82px;
}
.item_details_blok a img {
  margin-right: 10px;
}
.you_may_like {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 118px;
}
.you_may_like h3 {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.site {
  background-color: #fff;
  width: 100%;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Lato', sans-serif;
}
.site__header {
  box-shadow: 0 0 0 rgba(0,0,0,0.17);
  border: 1px solid #ececec;
}
.site__content {
  flex: 1;
}
.site__cover {
  background-color: #e8e8e8;
  margin-bottom: 98px;
}
.site__offer {
  height: 100%;
  margin-bottom: 97px;
}
.site__footer {
  background-color: #e6e6e6;
}
.flexCenter {
  height: 100%;
  display: flex;
  align-items: center;
}
.flexCenterSpaceBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdownMarginTop {
  height: 1em;
}
.top-nav {
  height: 100%;
  margin-top: -1px;
  display: flex;
  justify-content: center;
}
.top-nav__item {
  height: 100%;
}
.top-nav__link {
  color: #222;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
  padding: 12px 1.3vw;
  text-align: center;
}
.top-nav__link:hover {
  color: #ef5b70;
  text-decoration: none;
}
.top-nav__link--active {
  border-bottom: 3px solid #ef5b70;
}
